@font-face {
    font-family: "TTNormsMedium";
    src: url("../fonts/TTNorms-Medium.eot");
    src: url("../fonts/TTNormsMedium.eot?#iefix")format("embedded-opentype"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "TTNormsBold";
    src: url("../fonts/TTNorms-Bold.eot");
    src: url("../fonts/TTNormsBold/TTNormsBold.eot?#iefix")format("embedded-opentype"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    font-family: 'TTNormsMedium';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    background: #E5F0FF;
    *
}

input {
    outline: none;
}

button {
    border: 0px;
    outline: none;
}

a {
    color: inherit
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

:root {
    --color-white: #ffffff;
    --color-dark: #0D1C2E;
    --color-blue: #2A8BF2;
    --color-grey: #707C97;
}

.HEAD-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-container {
    width: 290px;
    min-height: 1080px;
    background: #fff;
    box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
}

.name_foto {
    margin: 92px 102px 0 102px;
    width: 86px;
    height: 86px;
}

.user_name {
    display: block;
    padding: 15px 0 0 43px;
    line-height: 21px;
    color: var(--color-dark);
}

.user_name:after {
    content: " ";
    position: absolute;
    margin: 7px 0 0 11px;
    padding: 3px;
    width: 9.5px;
    height: 5px;
    background: url(../img/icon/Shape.svg) no-repeat;
    /* ПОМЕНЯТЬ СТРЕЛКУ*/
    background-size: contain;
}

.user-list {
    width: 225px;
    border-radius: 6px;
    box-shadow: 10px 10px 25px rgb(112 124 151 / 5%), 15px 15px 35px rgb(112 124 151 / 5%);
}

.user-list a {
    padding: 25px 16px 15px 50px;
    background: #FFF;
}

.user-list a:hover {
    background: linear-gradient( 90.54deg, #60A9F6 0%, #2A8BF2 100%);
    color: #fff
}

.dropbtn {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: rgb(255, 255, 255);
}

.show {
    display: block;
}

.simplebar-scrollbar:before {
    display: block;
    background: var(--color-grey);
    width: 6px;
    opacity: 0.4
}

.simplebar-track {
    right: -3px;
}

.nav {
    padding: 86px 0 0px 38px;
    display: flex;
    flex-direction: column;
    line-height: 19px;
}

.menu_list {
    padding-bottom: 56px;
    font-size: 16px;
    line-height: 19px
}

.menu_list__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-grey);
}

.menu_list:nth-child(1) .menu_list__icon {
    margin-right: 17px;
    width: 25px;
    height: 25px;
    background: url(../img/icon/) no-repeat;
    background-size: contain;
}

.menu_list:nth-child(2) .menu_list__icon {
    margin-right: 17px;
    width: 25px;
    height: 25px;
    /*background: url(../img/icon/Icon\Chat.svg) no-repeat;*/
    background-size: contain;
}

.menu_list:nth-child(3) .menu_list__icon {
    margin-right: 17px;
    width: 25px;
    height: 25px;
    /*background: url(../img/icon/) no-repeat;*/
    background-size: contain;
}

.menu_list:nth-child(4) .menu_list__icon {
    margin-right: 17px;
    width: 25px;
    height: 25px;
    /* background: url(../img/icon/) no-repeat;*/
    background-size: contain;
}

.menu_list:nth-child(5) .menu_list__icon {
    margin-right: 17px;
    width: 25px;
    height: 25px;
    /* background: url(../img/icon/calendar.svg) no-repeat;*/
    background-size: contain;
}

.menu_list:nth-child(6) .menu_list__icon {
    margin-right: 17px;
    width: 25px;
    height: 25px;
    /*background: url(../img/icon/settings-2.svg) no-repeat;*/
    background-size: contain;
}

.menu_list:nth-child(6) {
    padding-bottom: 265px;
}

.menu_list:nth-child(7) .menu_list__icon {
    margin-right: 17px;
    width: 25px;
    height: 25px;
    background: url(../img/icon/power.svg) no-repeat;
    background-size: contain;
}

.container {
    width: 1630px;
    /*ПОМЕНЯТЬ*/
    height: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
}

.chats {
    width: 580px;
    margin: 0px 0px 0 59px;
}

.title-h2 {
    margin: 0px;
    font-size: 36px;
    line-height: 26px;
    color: var(--color-dark);
}

.resept {
    padding-top: 15px;
}

.size-18 {
    color: var(--color-grey);
    background: #F3F3FB;
}

.btm-message {
    margin-top: 30px;
    padding-top: 30px;
    padding-right: 60px;
    height: 70px;
}

.btm-message-list {
    width: 30px;
    border-radius: 6px;
    box-shadow: 10px 10px 25px rgb(112 124 151 / 5%), 15px 15px 35px rgb(112 124 151 / 5%);
}

.btm-message-list a {
    padding: 20px 5px 15px 15px;
    background-color: #F3F3FB;
    color: var(--color-grey);
}

.text-size-18 {
    background-color: #fff;
    border: none;
    border-radius: 0 6px 6px 0;
    color: var(--color-grey);
    cursor: pointer;
}

.resept::after {
    content: " ";
    position: absolute;
    margin: 0px 0 0 11px;
    padding: 4px;
    width: 11px;
    height: 15px;
    background: url(../img/icon/chevron-down.svg) no-repeat;
    background-size: contain;
}

.resert-list {
    border-radius: 6px;
    box-shadow: 10px 10px 25px rgb(112 124 151 / 5%), 15px 15px 35px rgb(112 124 151 / 5%);
}

.resert-list a {
    padding: 25px 16px 15px 50px;
    background-color: #F3F3FB;
    color: var(--color-grey);
}

.btn-plus {
    content: " ";
    /* position: absolute; */
    margin-right: 11px;
    padding: 15px;
    width: 24px;
    height: 24px;
    background: url(../img/icon/plus.svg) no-repeat;
    background-size: contain;
    background-position-y: 13px;
}

.btn {
    margin-right: 0 auto;
    padding: 20px 28px;
    color: #fff;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border-radius: 6px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
}

.form-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin-top: 30px;
    padding-left: 75px;
    /*adding-right: 44px;*/
    width: 700PX;
    height: 70px;
    background-color: #fff;
    border: none;
    border-radius: 6px 0 0 6px;
}

.form-search__btm {
    content: " ";
    position: absolute;
    top: 225px;
    left: 385px;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background: url(../img/icon/search.svg) no-repeat;
    cursor: pointer;
}

}

.btm-message {
    /*position: absolute;*/
    display: block;
    /*width: 180PX;*/
    padding: 20px 20px;
    height: 70px;
    background-color: #fff;
    border: none;
    border-radius: 0 6px 6px 0;
}

.btm-message::after {
    content: " ";
    position: absolute;
    margin: 0px 0 0 11px;
    padding: 4px;
    width: 11px;
    height: 15px;
    background: url(../img/icon/chevron-down.svg) no-repeat;
    background-size: contain;
}

.chats-list {
    margin-top: 20px;
    width: 580px;
    height: 790px;
    overflow: hidden;
    overflow-y: auto;
}

.chats-list_item {
    padding: 30px 0 0 40px;
    width: 580px;
    /*ПОМЕНЯТЬ*/
    min-height: 220px;
    margin-bottom: 20px;
    background: #FFF;
    border-radius: 6px;
}

.avatar {
    width: 54px;
    height: 54px;
    border-radius: 100%;
}

.user-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user {
    padding-left: 20px;
}

.user-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-dark);
}

.status {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-blue);
}

.status-time {
    margin-top: -47px;
    margin-right: 39px;
    float: right;
}

.base-text {
    font-size: 16px;
    line-height: 19px;
    color: var(--color-grey)
}

.message {
    margin: 30px 20px 0px 0px;
}

.dialogs {
    margin: 110px 60px 40px 80px;
    width: 850px;
    /*ПОМЕНЯТЬ*/
    height: 930px;
    background: #fff;
}

.message-skroll {
    height: 728px;
    /*overflow-y: scroll;*/
}

.dialogs-heder {
    padding: 28px 29px 29px 60px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(112, 124, 151, 0.15);
    background: #FAFBFF;
}

.dialogs-menu {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
}

.dialogs-menu_link {
    margin-left: 20px;
    min-height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03), 0px 5px 25px rgba(42, 139, 242, 0.07);
}

.dialogs-message {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dialog-message-box {
    margin-top: 15px;
    padding: 14px 27px 25px 22px;
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
}

.dialogs-menu_link {
    margin-left: 20px;
    min-height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 0px 10px 15px rgba(208, 118, 118, 0.07), 0px 7px 25px rgba(42, 139, 242, 0.08), 0px 5px 25px rgba(42, 139, 242, 0.07);
}

.dialogs-menu_link:hover {
    -webkit-box-shadow: 0px 1px 13px 0px rgba(44, 50, 50, 0.41);
    -moz-box-shadow: 0px 1px 13px 0px rgba(44, 50, 50, 0.41);
    box-shadow: 0px 1px 13px 0px rgba(44, 50, 50, 0.41);
}

.more-horizontal {
    content: " ";
    width: 24px;
    height: 24px;
    background: url(../img/icon/more-horizontal.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.right {
    margin-left: 18px;
}

.left {
    margin-left: auto;
    margin-right: 18px;
}

.message-size-big {
    max-width: 520px;
    /*GJVTYZNM*/
    min-height: 85px;
}

.message-size-smal {
    max-width: 192px;
    min-height: 50px;
}

.text-white {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.user-size_small {
    margin-top: 5px;
    margin-right: 24px;
    width: 24px;
    height: 24px;
}

.my-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.my-message-box {
    margin-right: 89px;
    padding: 14px 27px 20px 22px;
    background: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    border-radius: 10px 10px 0px 10px;
}

}

.message-size-smal {
    max-width: 220px;
    min-height: 50px;
}

.message-size-big {
    max-width: 520px;
    min-height: 100px;
}

.text-data {
    margin-top: 5px;
    font-size: 14px;
    line-height: 26px;
    color: var(--color-grey)
}

.message-data-left {
    margin-left: 230px;
}

.message-data-right {
    margin-left: 650px;
}

.user-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-srart
}

.data-day {
    margin-left: 340px;
    margin-bottom: 34px;
}

.data-border {
    border-bottom: 1px solid #f00;
}

.form-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 50px 0 50px;
    border-top: 1px solid rgba(112, 124, 151, 0.15);
}

.form-input {
    margin-top: auto;
    margin-bottom: 0px;
    padding-left: 21px;
    height: 89px;
    width: 712px;
    word-break: break-word;
    border: 1px solid rgba(112, 124, 151, 0.15);
    border-left: none;
    border-right: none;
    border-bottom: none;
    outline: none;
}

textarea::placeholder {
    line-height: 80px;
}

.form-icon {
    margin-left: 60px;
    border: none;
    outline: none;
    cursor: pointer;
}

.form-icon_list {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../img/icon/Icon-add.svg) no-repeat;
    background-size: contain;
}

.form-sumenu_list:nth-child(1) {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    background: url(../img/icon/video-player.png) no-repeat;
    background-size: cover;
}

.form-sumenu_list:nth-child(2) {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    background: url(../img/icon/gallery.png) no-repeat;
    background-size: contain;
}

.form-sumenu_list:nth-child(3) {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    background: url(../img/icon/google-docs.svg) no-repeat;
    background-size: contain;
}

.menu ul {
    position: absolute;
    margin-top: -200px;
    list-style: none;
    padding-left: 0px;
    display: none;
    cursor: pointer;
}

}

.menu .title {
    font-size: 18px;
    cursor: pointer;
}

.menu.open ul {
    display: block;
}

.form-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.hvr-grow {
    /*display: inline-block;*/
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    transform: scale(1.1);
}

.form-smail {
    width: 24px;
    height: 24px;
    background: url(../img/icon/Smile-icon.svg) no-repeat;
    background-position-y: 30px;
    background-size: contain;
    padding-top: 85px;
    cursor: pointer;
}

.form-to_send {
    margin-left: 30px;
    width: 50px;
    height: 50px;
    background: url(../img/icon/send.svg) no-repeat;
    background-size: contain;
    background-position-y: 20px;
    PADDING-TOP: 84PX;
    cursor: pointer;
}

Svg path {
    color: gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
}

.menu_list__link:hover, .menu_list__link:focus, .menu_list__link:active {
    color: var(--color-blue);
}

.chats-list_item:hover .base-text, .chats-list_item:focus .base-text, .chats-list_item:active .base-text {
    color: #FFF;
}

.chats-list_item:hover .status {
    color: #FFF;
}

.message-size {
    width: 450px;
}

.message-icon {
    width: 20px;
    height: 20px;
    font-size: 13px;
    line-height: 15px;
    padding: 2px 4px 2px 7px;
    background: #FF3366;
    color: #FFF;
    border-radius: 100%;
}

.message-icon-size {
    /* float: right; */
    margin-right: 40px;
    margin-left: auto;
    margin-top: 0;
}

.message-icon-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.file {
    margin-top: 13px;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background: linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
    ;
    color: white;
}

.online-fon {
    position: absolute;
    left: 39px;
    top: 32px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 100%;
}

.record {
    position: absolute;
    left: 110px;
    top: 58px;
    width: 12px;
    height: 12px;
    background: rgba(42, 139, 242, 0.25);
    ;
    border-radius: 100%;
    animation: animate_fading 2s infinite;
    animation-timing-function: linear;
}

.record-point {
    position: absolute;
    left: 114px;
    top: 63px;
    width: 4px;
    height: 4px;
    background: var(--color-blue);
    border-radius: 100%;
    animation: animate_fading 2s infinite;
    animation-timing-function: linear;
}

.online {
    position: absolute;
    left: 40px;
    top: 33px;
    width: 9px;
    height: 9px;
    background: #00C305;
    border-radius: 100%;
    animation: animate_fading 2s infinite;
    animation-timing-function: linear;
}

.animate-fading:hover {
    animation: none;
}

@keyframes animate_fading {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.1;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.message-icon {
    width: 20px;
    height: 20px;
    font-size: 13px;
    line-height: 15px;
    padding: 2px 4px 2px 7px;
    color: #FFF;
    border-radius: 100%;
    background: #FF3366;
    animation: animate_pulse2 2s infinite;
}

.animate-pulse2:hover {
    animation: none;
}

@keyframes animate_pulse2 {
    0% {
        box-shadow: 0 0 0 0 rgb(228, 25, 49, 0);
    }
    70% {
        box-shadow: 0 0 0 20px rgb(228, 25, 49, 0.1);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(228, 25, 49, 0);
    }
}

.jumping-dots {
    margin-right: 5px;
}

.jumping-dots span {
    position: relative;
    bottom: 0px;
    animation: jump 2s infinite;
}

.jumping-dots .dot-1 {
    animation-delay: 200ms;
}

.jumping-dots .dot-2 {
    animation-delay: 400ms;
}

.jumping-dots .dot-3 {
    animation-delay: 600ms;
}

@keyframes jump {
    0% {
        bottom: 0px;
    }
    20% {
        bottom: 5px;
    }
    40% {
        bottom: 0px;
    }
}

.menu_list__link:hover svg rect {
    fill: var(--color-blue);
}

.menu_list__link:hover svg path {
    fill: var(--color-blue);
}

svg path {
    fill: var(--color-grey);
}